PORT=3003# Notifications Service port


SMTP_HOST=replace_with_your_smtp_host
SMTP_PORT=replace_with_your_smtp_port
SMTP_USER=replace_with_your_smtp_user
SMTP_PASS=replace_with_your_smtp_pass
SMTP_SECURE=false
