PORT=3000
JWT_SECRET=your_long_and_secure_secret_here
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback
DB_URL=postgresql://user:password@host/db?sslmode=require
CATALOG_SERVICE_URL=http://localhost:3001
ORDERS_SERVICE_URL=http://localhost:3002
NOTIFICATIONS_SERVICE_URL=http://localhost:3003
PAYMENT_SERVICE_URL=http://localhost:3004
SELLERS_SERVICE_URL=http://localhost:3005