# Dependencies
node_modules/
.pnp
.pnp.js

# Optional npm cache directory
package-lock.json
*.txt
*.zsh


# Build output
dist/
build/
out/

# TypeScript
*.tsbuildinfo
tsconfig.tsbuildinfo

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
*.lcov
.nyc_output/

# Cache
.npm
.eslintcache
.stylelintcache
.cache/
.parcel-cache/
.turbo/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE / Editors
.vscode/
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp

# Yarn
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Optional REPL history
.node_repl_history

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Uploads / static user content (si aplica)
uploads/
public/uploads/

*ignore*