DATABASE_URL=replace_with_your_database_url
STORE_ADMIN_SERVICE_URL=http://sellers-service:3005
CATALOG_SERVICE_URL=http://catalog-service:3001
NOTIFICATIONS_SERVICE_URL=http://notification-service:3003
PAYMENTS_SERVICE_URL=http://payments-service:3004
SELLERS_SERVICE_URL=http://sellers-service:3005
OTP_SECRET=replace_with_your_otp_secret
PORT=3002