<div class="home-container">

  <h1 class="title">
    ¿Qué se te <span class="bold">antoja</span><br />
    el día de hoy?
  </h1>

  <p class="subtitle">
    Sencillamente, lo que quieres.
  </p>

  <h2 class="section-title">Nuestras Tiendas:</h2>

  <div class="cards-container">

    <div 
      class="card"
      *ngFor="let restaurant of restaurants()"
      (click)="goToStore(restaurant.id)"
    >
      <img 
        [src]="restaurant.image ?? 'https://via.placeholder.com/300'" 
        alt="store image"
      />

      <div class="card-content">
        <h2>{{ restaurant.name }}</h2>
        <p>{{ restaurant.location }}</p>
      </div>
    </div>

  </div>

  <!-- Buttons -->
  <div class="floating-buttons">

    <!-- Home -->
    <button class="fab active">
      🏠
    </button>

    <!-- Cart -->
    <button class="fab cart" routerLink="/cart">
      🛒
      <span class="badge" *ngIf="cartCount() > 0">
        {{ cartCount() }}
      </span>
    </button>

    <button class="fab" routerLink="/orders">
      🧾
    </button>

  </div>

</div>