DATABASE_URL=replace_with_your_database_url
PORT=3005
CATALOG_SERVICE_URL=http://catalog-service:3001
ORDERS_SERVICE_URL=http://order-service:3002
AWS_REGION=replace_with_your_aws_region
AWS_S3_BUCKET_NAME=replace_with_your_s3_bucket_name
AWS_ACCESS_KEY_ID=replace_with_your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=replace_with_your_aws_secret_access_key