DATABASE_URL=database-url-placeholder
USER_SERVICE_URL=http://localhost:3001
AWS_REGION=aws-region-placeholder
AWS_S3_BUCKET_NAME=bucket-name-placeholder
AWS_ACCESS_KEY_ID=access-key-placeholder
AWS_SECRET_ACCESS_KEY=access-secret-placeholder